* {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif; 
}
html, body {
  height: 100%;
}

body {
  background-color: white;
  align-text: center;
  font-size: 16px;
  line-height: 1.3em; 
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -114px;
    position: relative;
}

img {
  border: 0; }


#content_wrapper {
  width: 80%;
  margin: 0px auto; 
}

#content_menu{
    margin-top: 40px;
    margin-bottom: 30px;
}

#separator{
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    position: relative;
    bottom: -3px;
    z-index: -1;
}

#top_news, #recent_news{
    background: white;
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 25px 0;
    color: black;
    text-decoration: none;
    padding-bottom: 1px;
}
#top_news.active, #recent_news.active{
    border-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid transparent;
}
#top_news.inactive:hover , #recent_news.inactive:hover{
    background: #D6D6D6;
}

#header_wrapper, #footer_wrapper {
    width: 100%;
    background-color: black;
}

#footer_wrapper {
    height: 114px;
    position: relative;
}

#push {
    height: 114px;
}

a {
  color: #000;
  text-decoration: none; 
}

.cf:before, .cf:after {
      content: " ";
      display: table;
}

.cf:after {
      clear: both;
}

.cf{
      *zoom: 1;
}


a:hover {
  text-decoration: underline; }


#page_title{
    margin-right: 60px;
}
#page_title span{
    color: white;
}


#header {
  background-color: #000;
  height: 35px;
  line-height: 25px;
  padding-top: 1em; 
  padding-bottom: 2em; 
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
  #header #logo  {
    float: left;
    color: white; 
    width: 105px; 
    height: 45px; }
    #header #logo span {
      padding-right: 5px;
      text-transform: none;
      font-weight: bold;
      font-size: 13px }
    #header #logo .beta{
        vertical-align: super;
        font-size: smaller;
        text-transform: uppercase;
      }
  #header #menu a {
    color: #ffb500;
    font-size: 13px;
    text-transform: lowercase;
    line-height: 25px; }
    #header #menu #add_new {
        padding: 10px 15px;
        background-color: #6ca12e;
        color: white;
        border-radius: 2px;
        margin-left: 20px;
        display: inline-block;
    }
  #header #menu #main_nav {
    float: left;
    margin-top: 3px;
    margin-left: 20px; 
    color: white;
    width: 50%;
}
  #header #menu #user_toolbar {
    float: right;
    padding: 0 10px; 
    padding-top: 13px;
  }
    #header #menu #user_toolbar .karma {
      font-size: 12px;
      padding: 0 5px;
      color: #1e1e1e; }
    #header #menu #user_toolbar .karma {
      color: white; }


#content {
  color: #666666; 
  margin-top: 30px;
}

#indextanksearch {
  margin-left: 20px;
  padding: 0 0 0 0px;
  display: inline; }

.comment .comment-post {
  padding: 0 0 0 11px; }
.comment .votes {
  float: left;
  padding: 5px 0 0 11px;
  height: 45px;
  min-width: 20px; }
  .comment .votes .voted {
    font-weight: 900;
    font-size: 1.1em; }
.comment .info {
  font-size: 0.8em;
  padding: 0px 10px 5px 30px; }
  .comment .info .hide-show-comment {
    display: none;
    cursor: pointer; }
.comment .comment-message {
  color: #111111;
  padding-left: 32px; }
  .comment .comment-message p {
    margin-bottom: 1em; }
.comment .reply {
  text-decoration: underline;
  padding: 1px 0 10px 32px;
  font-size: 0.8em;
  clear: both; }
.comment .innerComments {
  padding-left: 20px; }

#post {
  padding: 5px 5px; }
  #post .message {
    padding: 5px 20px 20px 20px;
    color: #111111; }
  #post .noticia {
    padding: 1em 0; }
    #post .noticia .post-info {
      margin-left: 35px; }
  #post form {
    clear: both; }
  #post textarea {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    max-width: 800px;
    height: 100px;
    padding: 1em; }

.busqueda {
  margin-left: 51px; }

.noticia {
  padding: 1.1em 1.1em;
  margin: 1px 0 0; }
  .noticia:nth-child(even) {
    background: #eaeaea; 
}
  .noticia .order-number {
    float: left;
    width: 20px;
    text-align: right;
    font-weight: normal;
    font-size: 1.1em;
    padding: 15px; 
    background-color: #ffb500;
    border-radius: 30px;
    color: white;
}
  .dot{
    color: #ffb500;
  }
  .noticia a.post-upvote {
    display: block;
    float: left;
    padding: 15px; 
    min-width: 20px;
    }
  .noticia .voted {
    font-weight: 900;
    font-size: 1.1em; }
    .noticia .voted img {
      opacity: 0.5; }
  .noticia .post-title {
    line-height: 1.8em;
    font-size: 1.1em; }
    .noticia .post-title a {
      color: #111111; }
      .noticia .post-title a:visited {
        color: #b3b3b3;
        text-decoration: none; }
    .noticia .post-title .post-netloc {
      font-size: 0.7em;
      font-family: Consolas,Courier,monospace; }
  .noticia .post-info {
    font-size: 11px;
    line-height: 13px;
    margin-left: 51px; }
    .noticia .post-info a {
      color: #000; 
      font-weight: 800;
}
  .noticia .post-votes {
    min-width: 36px;
    float: left; }

.submit {
  color: #111111;
  padding: 15px; }
  .submit hr {
    margin-bottom: 2em; }
  .submit .textfields {
    width: 80%; }
  .submit input {
    padding: 0.5em;
    margin-bottom: 1em; }
  .submit textarea {
    padding: 0.5em;
    width: 80%;
    height: 125px; }

.profile {
  color: #111111;
  padding: 15px; }
  .profile h1 {
    padding: 0;
    margin-bottom: 1em; }
  .profile form {
    padding: 0; }
    .profile form label {
      margin-top: 1em; }
    .profile form textarea {
      width: 50%;
      height: 120px;
      padding: 0.5em; }
    .profile form input {
      padding: 0.5em; }

#pages {
  padding: 25px;
  font-size: 18px;
  font-weight: bold; 
}

#footer {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  background-color: #000;
  padding: 20px 0; 
  color: white;
}
  #footer .disclamer {
    line-height: 15px;
    font-size: 0.8em; }
  #footer a {
    color: #ffb500; }

#guidelines {
  padding: 0 20px;
  color: #111111;
  margin: 2em 0; }
  #guidelines h3 {
    padding: 5px 0px;
    font-size: 1.2em; }
  #guidelines p {
    padding: 10px 0px; }

h1 {
  padding: 0;
  margin-bottom: 1em; }

form {
  padding: 10px 20px 20px 20px; }

label {
  display: block; }

fieldset {
  border: 0px; }

input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em; }

.error {
  color: #ff0a47;
  padding-left: 20px;
  font-weight: bold; }

.success {
  color: #8ac649;
  font-weight: bold; }

input.fielderror, textarea.fielderror {
  background-color: #ffb5c7;
  border: 1px solid #ff0a47; }

.leaderboard {
  padding: 0 20px;
  color: #111111;
  margin: 2em 0; }
  .leaderboard .leader-user .position {
    width: 50px;
    float: left; }
  .leaderboard .leader-user .nickname {
    width: 150px;
    float: left; }
  .leaderboard .leader-user .karma {
    width: 50px;
    float: left; }
  .leaderboard .leader-user .karma {
    width: 50px;
    float: left; }

.notifications-menu {
  padding: 0 0 0 20px; }
  .notifications-menu .page {
    font-weight: bold; }
  .notifications-menu #all {
    background: transparent url(/static/images/sobre.png) no-repeat scroll 0 0;
    padding-left: 20px; 
    background-position: 1px 6px;
}
  .notifications-menu #unread {
    background: transparent url(/static/images/sobre_active.png) no-repeat scroll 0 0;
    padding-left: 20px; 
    background-position: 1px 6px;
}

.notifications .notification {
  list-style: none;
  margin: 20px 0 15px 20px; }
  .notifications .notification .reply {
    font-size: 0.8em; }

hr {
  border: 0;
  height: 1px;
  background: #8EB932;
  margin: 7px 0; }

#login-register-boxes {
  overflow: hidden;
  color: #111111;
  margin: 2em 0; }
  #login-register-boxes input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 12em; }

#login-box {
  border-right: 1px solid #EAEAEA; }

#login-box, #register-box {
  float: left;
  width: 49%;
  text-align: center;
  margin-top: 50px; }

#top-alert {
  padding: 0.5em 0;
  background: #ff4e27;
  text-align: center;
  color: #f2e9e1; }
  #top-alert a {
    color: white;
    text-decoration: underline; }

#password_recovery, #new_password {
  color: #111111;
  margin: 2em 0;
  padding: 0 20px; }

.social{
    display: inline-block;
    margin-top: 7px;
}
.twitter{
    display: inline;
    position: relative;
}

.karma{
  color: white;
}
