{% extends 'base.html' %}
{% block content %}

<div id="guidelines">
    <h1>Preguntas Frecuentes</h1> 
    <p>
        <b>¿Qué es Bandtastic News? </b><br>
        News es un servicio (actualmente en versión Beta) de Bandtastic en el que podrás encontrar las noticias más relevantes relacionadas con la música sin tanto lío.  
    </p>
    <p>
    <b>¿Que no se supone que ustedes sólo hacen conciertos? ¿Porqué están haciendo esto? </b><br>
        Desde hace un tiempo, en Bandtastic tenemos un grupo en facebook donde compartimos internamente los links más interesantes sobre música para nosotros. Nos dimos cuenta que es muy difícil mantenerse al día con todo lo que pasa en Twitter, Facebook, en todos los blogs de música, y sobre todo eliminar la paja para encontrar la información más relevante del momento. Por eso creamos Bandtastic News.
        <br>
        En Bandtastic siempre hemos creído en el poder de la gente. Es momento de que tú decidas cuáles cosas son relevantes y cuales no.
    </p>
    <p>
        <b>¿Cómo funciona? </b><br>
        Primero debes crear un usuario, toma 10 segundos. Luego puedes compartir enlaces relacionados a la música desde el botón: agregar nuevo. Verás que tu enlace se agrega hasta abajo del sitio; para que tu enlace aparezca en primer lugar, la gente deberá votar por él. La idea es que los artículos o enlaces más relevantes (votados) aparezcan hasta arriba en el top.
        <br>
        También puedes comentar en los enlaces que otros publicaron. Si has usado Reddit, o HackerNews encontrarán muchas similitudes, Bandtastic News esta basado en esos dos servicios.
    </p>
    <p>
        <b>¿Existen reglas sobre lo mensajes, links y comentarios?</b><br>
        Sí. puedes leer nuestras <a href='http://news.bandtastic.me/reglas'>reglas para contribuir</a>
    </p>
    <p>
        <b>¿Cómo se ordenan los mensajes y links en la portada?</b><br>
        Las noticias de usuarios con más karma y las más votadas suben de posición.
        <br>
        Ganarás Karma mientras más votos tengan las noticias que tu pones, una noticia de alguien con más Karma será vista por más gente al estar más arriba. 
    </p>
    <p>
        <b>¿Cómo se calcula el karma de cada usuario?</b><br>
        Karma = (votes - 1) / pow((hours + 2), gravity)
    </p>
    <p>
        <b>¿Por qué no puedo votar para abajo?</b><br>
        Por el momento solo tenemos votos para arriba. Si quieres votar para abajo, escríbenos.
    </p>
    <p>
        <b>¿Cómo puedo ayudar a Bandtastic News? </b><br>
        Además de compartir este nuevo servicio, puedes ayudar a crear esta comunidad agregando cosas que puedan ser interesantes para los demás. Mientras más personas usen Bandtastic News, habrán más enlaces, votos y mejor contenido como resultado.
    </p>
    Si tienes dudas o nos quieres dar tu opinión, contesta este correo o contáctanos en Twitter (@bandtastic) o Facebook (/bandtastic).
</div>

{% endblock %}
