  <div class="noticia">
    <div class="post-votes">
      {% if post.number %}
        <span class="order-number">{{post.number}}<span class='dot'>.</span></span>
      {% endif %}
      {% if post.prefetched_already_voted %}
        <a class="post-upvote voted"><img src="/static/images/votado.png"/></a><br/>
      {% else %}
        <a class="post-upvote" href="/upvote/{{post.key}}" onclick="upVote(this, '{{post.key}}'); return false;"><img src="/static/images/votar.png" alt="^"/></a><br/>
      {% endif %}
    </div>
    <div class="post-title">
      <a href="{{post.url}}">{{post.title}}</a>
      {% if not post.message %}
        <span class="post-netloc">({{post.url_netloc}})</span>
      {% endif %}
    </div>
    <div class="post-info">
      <span class='sum_votes'>{{post.prefetched_sum_votes}}</span> puntos, compartido por <a href="/perfil/{{post.user.nickname}}">{{post.user.nickname}}</a> hace {{post.created|timesince|hacetiempo}}
      {% if post.edited %}*{% endif %}
      | 
      {% if not post.nice_url  %}
        <a href="/noticia/{{post.key}}#disqus_thread">{{post.cached_comment_count}} comentarios</a>
      {% else %}
        <a href="/noticia/{{post.nice_url}}#disqus_thread">{{post.cached_comment_count}} comentarios</a>	
      {% endif %}
      {% if post.can_edit %}
        | <a href="/editar-noticia/{{post.key}}">editar</a> 
        | <a href="/borrar-noticia/{{post.key}}">borrar</a> 
      {% endif %}
    </div>
  </div>

