{% extends 'base.html' %}
{% block content %}
<div class="submit">
  <h1>Agregar noticia</h1>
  {% if post_error %}
    <div class="error">{{post_error}}</div>
  {% endif %}
      <p>
          Vas a enviar un enlace. La clave para conseguir votos es contenido interesante y un título descriptivo. <br>
          Agrega noticias, canciones, videos o cualquier contenido musical que creas relevante.
      </p>
  <form method="POST" class="validable">
    <fieldset>
      <label>Título</label><input class="textfields requerido" name="title" value="{{ get_title }}"/>
      <input type="hidden" name="comment_key" value="{{ comment_key }}">
      <label>URL</label><input class="textfields requerido url" name="url" value="{{ get_url }}"/><br/>
      <input type="submit" value="Agregar"/>
    </fieldset>
  </form>
</div>

<script type="text/javascript">
;(function($){
  $('input[name=title]').keypress(function(){
    var $hidden = $(this).siblings('input[name=comment_key]');

    if ($hidden.val() === '') {
      setTimeout(function() {
        $hidden.val('{{comment_key}}');
      }, 1);
    }
  });
}(jQuery));
</script>

{% endblock %}
