{% extends 'base.html' %}
{% block content %}
<div class="submit">
  <h1>Agregar noticia</h1>
  {% if post_error %}
    <div class="error">{{post_error}}</div>
  {% endif %}
      <p>
          Vas a enviar un enlace. La clave para conseguir votos es contenido interesante y un título descriptivo. </br>
          Agrega noticias, canciones, videos o cualquier contenido musical que creas relevante.</br>
      </p>
  <form method="POST" action='/agregar' class="validable">
    <fieldset>
      <label>Título</label><input class="textfields requerido" name="title" value="{{ get_title }}"/>
      <input type="hidden" name="comment_key" value="">
      <label>URL</label><input class="textfields requerido url" name="url" value="{{ get_url }}"/><br/>
      <input type="submit" value="Agregar"/>
    </fieldset>
  </form>

<p>
  Si quieres puedes agregar contenido desde tu navegador con este <a id='bookmarklet' href="javascript:location.href='http://news.bandtastic.me/agregar.bookmarklet?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)">Bookmarklet</a>. </br>Solo arrastra hasta tu barra de marcadores y cuando encuentres un sitio interesante compartelo haciendo clic en el marcador.
</p> 

</div>

<script type="text/javascript">
(function($){
  $('input[name=title]').keypress(function(){
    var $hidden = $(this).siblings('input[name=comment_key]');

    if ($hidden.val() === '') {
      setTimeout(function() {
        $hidden.val('{{comment_key}}');
      }, 1);
    }
  });
}(jQuery));
</script>

{% endblock %}
